@tailwind base;
@tailwind components;
@tailwind utilities;

$text-color: black;
$bg-color: #F8F8F8;


:root {
  --font-size: 16px;
  font-size:var(--font-size);
}

body {
  color: $text-color;
  background-color: $bg-color;
}
